<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google-site-verification" content="OK4ipl05vfmPbhnQKi-WevVhQInoE1J23hrbh9sPSZM" />

    <!-- <link rel="shortcut icon" href="assets/images/favicon.ico"> -->
    <link rel="shortcut icon" href="" />
    {% block additional_css %} {% endblock %}
    <title>Car Repair and Services Gurgaon| MechMyCar</title>
  </head>
  <body>
    {% block content %} {% endblock %} {% block additional_js %} {% endblock %}
    <script src="/js/bundle.js"></script>
  </body>
</html>
