<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="shortcut icon" href="assets/images/favicon.ico"> -->
    {% block additional_css %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    {% block additional_js %}
    {% endblock %}
    <script src="/js/bundle.js"></script>
 
</body>
</html>