<div class="footer">
  <div class="footer__brandsection">
    <div class="footer__brandsection__logosection">
      <div class="footer__brandsection__logosection__logo">
        <img src="/img/logomechmycar.png" alt="footer Logo" />
      </div>
    </div>
    <div class="footer__brandsection__border"></div>
    <div class="footer__brandsection__info">
      <div class="footer__brandsection__info__about">
        Address
        <li>Shiv Vihar,</li>
        <li>Sector 12,</li>
        <li>Gurugram,</li>
        <li>Haryana 122022</li>
        <li>+91-8860799199</li>
        <li>+91-9811933999</li>
      </div>
      <div class="footer__brandsection__info__border"></div>
      <div class="footer__brandsection__info__ourservice">
        ourservices
        <li>Mechanical</li>
        <li>Bodyshop</li>
        <li>General Services</li>
        <li>Washing services</li>
        <li>Car Modification</li>
      </div>
    </div>
  </div>
  <div class="footer__addsection">
    <div class="footer__addsection__copyright">
      &#0169; 2020 MechMyCar pvt ltd.
    </div>
    <div class="footer__addsection__socialmedia">
      <a href="#"><img src="/img/fbNewFooter.png" alt="fb"/></a>
      <a href="#"> <img src="/img/instaNewFooter.png" alt="inst"/></a>
      <a href="#"><img src="/img/youtubeNewFooter.png" alt="youtube"/></a>
      <a href="#"
        ><img src="/img/twiterNewFooter.png" alt="twiterNewFooter"
      /></a>
    </div>
  </div>
</div>
