{% extends "base.html" %}
{% block additional_css %}
<link rel="stylesheet" href="/css/index.css">

{% endblock %}
{% block content %}
<!-- <script type="text/javascript" src="//use.typekit.net/uvs8amk.js"></script> -->


<div class="form">
 
<select data-placeholder="&nbsp;Year" class="chzn-select year" style="position:relative; width:131px; height: 40px; -webkit-appearance: none; font-size: 16px; font-weight: 100;" tabindex="1" id="Manufacturer">
<option value=""></option>

</select>
<select data-placeholder="Make" class="chzn-select" style="width:131px; height: 40px; -webkit-appearance: none; font-size: 16px; font-weight: 100;" tabindex="2" id="model">
<option value=""></option>
</select>

<select data-placeholder="Model" class="chzn-select" style="width:131px; height: 40px; -webkit-appearance: none; font-size: 16px; font-weight: 100;" tabindex="3" id="fuelType">
<option value=""></option>
</select>

 <a class="button" id="buttonNext">CHECK SERVICE</a>   
  </div>
{% endblock %}
{% block additional_js %}
<!-- <script src="/js/index.js"></script> -->
    {% endblock %}