{% extends "base.html" %}
{% block additional_css %}
<link rel="stylesheet" href="/css/pricing.css">

{% endblock %}
{% block content %}
<div id="switch-cont">
  {% for package in %}
    <button class="switch-button switch-selected">Basic</button>

  </div>
  
  <div id="pricing-cont">
  
    <div class="pricing-card pricing-selected">
      <span class="pricing-el-med">Basic</span>
      <h2>$13</h2>
      <span class="pricing-el-small">Per Month</span>
      <ul class="pricing-el-small">
        <li>Lorem dolem wolem</li>
        <li>Lorem dolem</li>
        <li>Lorem dolem wolem</li>
        <li>Dolem wolem</li>
      </ul>
      <a href="" class="btn btn-pricing">Learn more</a>
    </div>
    
    <div class="pricing-card">
      <span class="pricing-el-med">Standard</span>
      <h2>$42</h2>
      <span class="pricing-el-small">Per Month</span>
      <ul class="pricing-el-small">
        <li>Lorem dolem </li>
        <li>Lorem dolem wolem</li>
        <li>Lorem dolem</li>
        <li>Dolem wolem</li>
      </ul>
      <a href="" class="btn btn-pricing">Learn more</a>
    </div>
    
    <div class="pricing-card">
      <span class="pricing-el-med">Professional</span>
      <h2>$79</h2>
      <span class="pricing-el-small">Per Month</span>
      <ul class="pricing-el-small">
        <li>Lorem wolem</li>
        <li>Lorem Lorem dolem</li>
        <li>Dolem wolem</li>
        <li>Dolem wolem wolem</li>
      </ul>
      <a href="" class="btn btn-pricing">Learn more</a>
    </div>
    
    
    
  
  </div>
  
  
{% endblock %}
{% block additional_js %}

{% endblock %}