*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 10vh 110vh 90vh 60vh;
  grid-template-columns: 100vw;
  @media only screen and (min-device-width: 320px) and (max-device-width: 359px) and (-webkit-min-device-pixel-ratio: 2) {
    grid-template-rows: 10vh 280vh 35vh 60vh;
  }
  //iphone 5, 5s
  @media only screen and (min-device-width: 360px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 2) {
    grid-template-rows: 10vh 280vh 35vh 60vh;
  }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    grid-template-rows: 10vh 280vh 35vh 60vh;
  }
}
